.card-upload-page {
    div[class*="row"] {
        .input-field-container {
            width: 49.8%;
        }
    }
    .input-field-container {
        margin-bottom: 1vw;
    }

    .button-container {
        margin: 1.5vw 0 1vw 0;
    }
}
