.top-container {
    position: relative;
    .top-glass-cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        img {
            width: 70%;
            height: 100%;
        }
    }
    .header {
        @include flex(flex-start, center, row);
        width: 100%;
        height: 4vw;
        background: #424f62;
    }
    .underline {
        width: 100%;
        height: 0.3vw;
        background: #ec524b;
    }
}
