.login-panel {
    @include flex(flex-end, center, row);
    width: 38.5%;

    .user-picture-container {
        width: 3vw;
        height: 3vw;
        border-radius: 5vw;
        margin-left: 1vw;
        cursor: pointer;

        img {
            width: 3vw;
            height: 3vw;
            border-radius: 5vw;
            border: 0.2vw solid #ec524b;
        }
    }
    .user {
        position: relative;
        cursor: pointer;
        width: 2.8vw;
        height: 2.8vw;
        border-radius: 50px;
        background: #424f62;
        border: 0.2vw solid #ec524b;

        @include flex(center, center, row);
        .user-placeholder-svg,
        .close-svg {
            position: absolute;
            width: 2vw;
        }

        .close-svg {
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: rotate(0.5turn);
            }
        }
    }
}
