.search-container {
    border-radius: 0.5vw;
    background: #fff;
    height: 1.9vw;
    width: 40vw;
    margin-left: 20vw;
    @include flex(center, center, row);
    overflow: hidden;
    .search-filter-button {
        @include flex(center, center, row);
        background: #ec524b;
        height: 100%;
        padding: 0 0.6vw 0 0.8vw;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-out;
        img {
            margin-left: 0.2vw;
            pointer-events: none;
            height: 1vw;
        }

        &:hover {
            background: rgba(236, 82, 75, 0.9);
        }
    }
    .search-button {
        width: 1.2vw;
        margin-left: 0.4vw;
        cursor: pointer;
    }
    input[type="text"] {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        margin-left: 0.4vw;
        font-size: 1.2rem;
    }
}
