.upload{
    border-style: dashed;
    padding: 2vw;
    margin-top: 1vw;
}
.dropfile{
    text-align: center;
}

input[name=companyname],
input[name=phonenumber],
input[name=email],
input[name=address],
select {
    width: 100%;
    padding: 1.2vw 2vw;
    margin: 0.8vw 0;
    display: inline-block;
    border: 0.10vw solid #ccc;
    border-radius: 0.4vw;
    box-sizing: border-box;
  }
.cardtag{
    width: 100%;
}
input[name=cardtag],
input[name=cardtags],
input[name=firstname],
input[name=lastname]{
    width: 40%;
    padding: 1.2vw 2vw;
    margin: 0.8vw 0;
    display: inline-block;
    border: 0.10vw solid #ccc;
    border-radius: 0.4vw;
    box-sizing: border-box;
}
  
  input[type=submit] {
    background-color:#EC524B;
    color: white;
    padding: 1.4vw 1vw;
    margin: 0.8vw 0;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
  }