.upload-new-card-container {
    @include flex(center, center, column);
    border: 0.2vw dashed #424f62;
    width: 100%;
    height: 10vw;
    margin-bottom: 0.8vw;
    .upload-card-text {
        font-size: 1.2vw;
        font-weight: bold;
        color: #3d3d3d;
    }
    div.button-container {
        margin: 0.5vw 0 1vw 0;
    }
}
