input[name=companyname],
input[name=phonenumber],
input[name=email],
input[name=address],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.cardtag{
    width: 100%;
}
input[name=cardtag],
input[name=cardtags],
input[name=firstname],
input[name=lastname]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


  /* input[name=cardtag],
  input[name=cardtags],
  input[name=firstname],
  input[name=lastname],
   select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */
  
  input[type=submit] {
    background-color:#EC524B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }